<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b100b2">
    <meta name="theme-color" content="#b100b2">

    <meta property="og:url" content="https://martinjc.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Martin Chorley">
    <meta property="og:site_name" content="Martin Chorley">
    <meta property="og:locale" content="en_GB">
    <meta property="article:author" content="Martin Chorley">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@martinjc">
    <meta name="twitter:url" content="https://martinjc.com">
    <meta name="twitter:title" content="Martin Chorley">

    <link rel="icon" href="/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Scope+One" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>